{% extends 'basic.html' %} {% block title %} MetalGossipStore&nbsp;&mdash; Каталог {% endblock %} {% block content %}

<h2>Каталог</h2>
<div class="catalog">
    {% for i in product_items %}
    <div class="catalog_item">
        <h3>{{i.category}}</h3>
        <a href="../media/{{ i.image.value }}" target="_blank"><img src="../media/{{ i.image.value }}" alt="{{ i.title }}" title="{{ i.title }}"/></a>
        <p><a href="{{i.pk}}">{{ i.title }}</a></p>
        <p><b>Цена:</b> {{ i.price }}&nbsp;р.</p>
        <p><button id="buy_button">Заказать</button></p>
    </div>
    {% endfor%}
</div>

{% endblock %}
