{% extends 'basic.html' %} {% block title %} MetalGossipStore&nbsp;&mdash; Каталог {% endblock %} {% block content %}

<h2>Каталог</h2>
<div class="catalog">
    {% for link, title, image, price in product_items %}
    <div class="catalog_item">
        <a href="{{ link }}" target="_blank"><img src="{{ image }}" alt="{{ title }}" title="{{ title }}"/></a>
        <p><a href="{{ link }}">{{ title }}</a></p>
        <p><b>Цена:</b> {{ price }}&nbsp;р.</p>
        <p><button id="buy_button">Заказать</button></p>
    </div>
    {% endfor%}
</div>

{% endblock %}
