{% extends 'basic.html' %} {% block title %} MetalGossipStore&nbsp;&mdash; {{ descr}} {% endblock %} {% block content %}

<h2>MetalBonobo Scarf</h2>
<h3 id="product_header">Описание</h3>
<a href="{{ image }}" target="_blank"><img id="image_product" src="{{ image }}" alt="{{ descr}}" title="{{ descr}}"/></a>
<p id="product_summary">Атласный шарф с&nbsp;фирменным логотипом в&nbsp;трех цветах.</p>
<p><b>Цена:</b> {{ price }}&nbsp;р.</p>
<p><button id="buy_button">Купить</button></p>
<h3 id="product_header">Характеристики</h3>
<ul class="product">
    <li><b>ID&nbsp;товара:</b> 2646575</li>
    <li><b>Год:</b> 2018</li>
    <li><b>Общее количество:</b> 276&nbsp;шт.</li>
    <li><b>Стиль:</b> унисекс</li>
    <li><b>Основной цвет:</b> красный, белый, черный</li>
    <li><b>Размер:</b> 110&times;30&nbsp;cм</li>
    <li><b>Ткань:</b> атлас: одна сторона блестящая, другая матовая</li>
    <li><b>Дизайнер:</b> Валевска&nbsp;М.</li>
    <li><b>Возрастные ограничения:</b> 12+</li>
</ul>
<h3 id="product_header">Подробнее</h3>
<p id="product_description">Двустороння печать на&nbsp;шарфах выполнена на&nbsp;высокотехнологичном оборудовании, благодаря чему рисунок и&nbsp;цвета на&nbsp;шарфе выдерживают многократные машинные стирки и&nbsp;даже химчистку. Прокрас ткани произведен заводскими методами, а&nbsp;отшив профессиональными швеями. Атлас не&nbsp;мнется, что позволяет носить шарф в&nbsp;качестве широкого ряда акссесуаров&nbsp;&mdash; в&nbsp;виде банданы, чалмы, галстука или пояса.</p>

{% endblock %}