{% extends 'basic.html' %} {% block title %} MetalGossipStore&nbsp;&mdash; {{ descr}} {% endblock %} {% block content %}

<h2>{{ title }}</h2>
<h3 id="product_header">Описание</h3>
<a href="{{ image }}" target="_blank"><img id="image_product" src="{{ image }}" alt="{{ descr}}" title="{{ descr}}"/></a>
<p id="product_summary">Хлопковая футболка с&nbsp;фирменным логотипом в&nbsp;трех цветах.</p>
<p><b>Цена:</b> {{ price }}&nbsp;р.</p>
<p><button id="buy_button">Купить</button></p>
<h3 id="product_header">Характеристики</h3>
<ul class="product">
    <li><b>ID&nbsp;товара:</b> 7895123</li>
    <li><b>Год:</b> 2018</li>
    <li><b>Общее количество:</b> 67&nbsp;шт.</li>
    <li><b>Стиль:</b> унисекс</li>
    <li><b>Основной цвет:</b> красный, белый, черный</li>
    <li><b>Размер:</b> S-XL</li>
    <li><b>Ткань:</b> натуральный хлопок</li>
    <li><b>Дизайнер:</b> Валевска&nbsp;М.</li>
    <li><b>Возрастные ограничения:</b> 12+</li>
</ul>
<h3 id="product_header">Подробнее</h3>
<p id="product_description">Всесезонная футболка прямого покроя из&nbsp;стопроцентного хлопка с&nbsp;высоким качеством печати. Барабанная сушка запрещена, рекомендуется бережная стирка при 30-ти градусах.</p>

{% endblock %}
