{% extends 'basic.html' %} {% block title %} MetalGossipStore&nbsp;&mdash; {{ obj.title }} {% endblock %} {% block content %}

<h2>{{ obj.title }}</h2>
<h3 id="product_header">Описание</h3>
<a href="/media/{{obj.image.value}}" target="_blank"><img id="image_product" src="/media/{{obj.image.value}}" alt="{{ obj.title }}" title="{{ obj.title }}"/></a>
<p id="product_summary"> {{ obj.snippet }} </p>
<p><b>Цена:</b> {{ obj.price }}&nbsp;р.</p>
<p><button id="buy_button">Заказать</button></p>
<h3 id="product_header">Подробнее</h3>
<p id="product_description"> {{ obj.description }} </p>
<h3 id="product_header">{{ obj.category }}</h3>
<p> {{ obj.category.snippet }} </p>

{% endblock %}
