{% extends 'basic.html' %} {% block title %} MetalGossipStore&nbsp;&mdash; {{ title }} {% endblock %} {% block content %}

<h2>MetalGossipStore</h2>
<p><i>Возможно, лучший новый магазин метал-сувениров.</i> </p>
<h3>Мы&nbsp;открываемся!</h3>
<p>Дорогие друзья,</p>
<p>Вслед за&nbsp;порталом с&nbsp;новостями из&nbsp;мира метал-музыки с&nbsp;рецензиями на&nbsp;самые свежие релизы и&nbsp;отчетами о&nbsp;прошедших мероприятий мы&nbsp;готовим к&nbsp;открытию небольшой интернет-магазин с&nbsp;сувенирами по&nbsp;самым выголдным ценам.<br> Первом товаром в&nbsp;шашем магазине будут шарфы, кружки и&nbsp;футболки в&nbsp;трех фирменных цветах на&nbsp;выбор!<br> Именно они будут выслаться в&nbsp;подарок всем победителям в&nbsp;наших конкурсах, но&nbsp;теперь приобрести их&nbsp;может каждый из&nbsp;вас.<br> В&nbsp;магазине они всегда в&nbsp;наличии.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sit culpa ad&nbsp;esse consectetur quam nostrum, obcaecati velit odit, laboriosam eligendi dolorem quibusdam natus dolore aut nam facere eveniet!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit porro mollitia sed, assumenda optio ipsa amet minus itaque autem in&nbsp;dolorum tempora eum labore doloribus dicta cumque voluptatem ipsam. Cum rem aliquid quas, et&nbsp;fuga itaque. Minima, impedit delectus autem. Molestiae quas magnam ratione explicabo voluptatum. At&nbsp;iusto voluptatibus vel.</p>

{% endblock %}
